<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-battery-charging"></i>
                </div>
                <span class="b-title">Smart Grid</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
              <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                <a href="/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                    class="pcoded-mtext">Dashboard</span></a>
              </li>
              <li data-username="Profile Page" class="nav-item">
                <a href="/recent1.html" class="nav-link">
                  <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                  <span class="pcoded-mtext">Recent Transaction</span>
                </a>
              </li>
              <li data-username="Profile Page" class="nav-item">
                <a href="/buy_page.html" class="nav-link">
                  <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                  <span class="pcoded-mtext">MarketPlace</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="/yash.html" class="nav-link">
                  <span class="pcoded-micon"><i class="feather icon-film"></i></span>
                  <span class="pcoded-mtext">Analysis</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="/redeem.html" class="nav-link">
                  <span class="pcoded-micon"><i class="feather icon-film"></i></span>
                  <span class="pcoded-mtext">Redeem</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="/meta.html" class="nav-link">
                  <span class="pcoded-micon"><i class="feather icon-film"></i></span>
                  <span class="pcoded-mtext">Metaverse</span>
                </a>
              </li>
                         
               
                
                <!-- <li class="nav-item pcoded-menu-caption">
                    <label>About SummAR</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="/app_video.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">How to use</span></a>
                </li>
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item {% if 'tbl_bootstrap' in segment %} active {% endif %}">
                    <a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-server"></i></span><span class="pcoded-mtext">Security Policies</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>About Us</label>
                </li>
                <li data-username="Charts Morris" 
                    class="nav-item {% if 'chart-morris' in segment %} active {% endif %}">
                    <a href="/team.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Team</span></a>
                </li>
                <li data-username="Maps Google" 
                    class="nav-item {% if 'map-google' in segment %} active {% endif %}">
                    <a href="/support.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-map"></i></span><span
                        class="pcoded-mtext">Support</span></a></li>
                        <li class="nav-item pcoded-menu-caption">
                            <label>More Resources</label>
                        </li>  

                
                                  
                <li data-username="Support Page" class="nav-item ">
                    <a href="/feedback.html" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Feedback</span>
                    </a>
                </li>   
                <li data-username="Support Page" class="nav-item ">
                    <a href="/profile.html" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Profile</span>
                    </a>
                </li>   
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>   -->      
            </ul> 
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
