{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5><i class="feather icon-repeat"></i> &nbsp; Exchange Tokens</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card text-white bg-primary ">
                                    <div class="card-header">Exchange 100 tokens</div>
                                    <div class="card-body">
                                        <h5 class="card-title text-white">Primary card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <button id="connect-wallet-button" class="btn-outline-success">Exchange</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card text-white bg-secondary ">
                                    <div class="card-header">Exchange 500 tokens</div>
                                    <div class="card-body">
                                        <h5 class="card-title text-white">Secondary card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <button id="connect-wallet-button" class="btn-outline-success">Exchange</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card text-white bg-success ">
                                    <div class="card-header">Exchange 1000 tokens</div>
                                    <div class="card-body">
                                        <h5 class="card-title text-white">Success card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <button id="connect-wallet-button" class="btn-outline-success">Exchange</button>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>

                </div>
                <!-- [ Main Content ] end -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5><i class="feather icon-shopping-cart"></i> &nbsp; Redeem Tokens</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/71LfnkRgZ4L._SX679_.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Apple Watch SE (2nd Gen) Smart Watch </p>
                                <p><i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;&nbsp;4/5</p>
                                <p class="card-text"><small class="text-muted">All the essentials to help you monitor your fitness, keep connected, track your health and stay safe. Now up to 20% faster, with enhanced workout metrics.</small></p>
                                <button id="connect-wallet-button" class="btn-outline-success">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/61kUIyEALCS._UL1500_.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Nike Mens Air Zoom Pegasus 38 Running Shoe</p>
                                <p><i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;&nbsp;3/5</p>
                                <p class="card-text"><small class="text-muted">Nike running shoes are made with material and provides ultimate comfort and durability. You can pair the shoes with trackpant, shorts or denim.</small></p>
                                <button id="connect-wallet-button" class="btn-outline-success">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/512TGintdoL._UX522_.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Armani Exchange Analog Brown Dial Watch</p>
                                <p><i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;&nbsp;5/5</p>
                                <p class="card-text"><small class="text-muted">More & More Hoodies Adjustable hood protects your ears and neck when you step outdoors. Kangaroo Pockets which is enough of cover your palm, when you feel cold.</small></p>
                                <button id="connect-wallet-button" class="btn-outline-success">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/81wY4D9Vl8L._SL1500_.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">KAIWEETS Digital Multimeter Voltmeter </p>
                                <p><i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;&nbsp;4/5</p>
                                <p class="card-text"><small class="text-muted">The voltmeter with a large LCD screen, and flashlight for easy reading even in bright or dim places. The voltmeter can display analog bar,real-time temperature and damaged fuse prompt.</small></p>
                                <button id="connect-wallet-button" class="btn-outline-success">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/51BhlsBMOXL._SL1200_.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">amiciSmart WiFi Smart Energy Meter</p>
                                <p><i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;&nbsp;4/5</p>
                                <p class="card-text"><small class="text-muted">Smart Energy Meter which can be operated using Mobile App via WiFi connection. Download Tuya App or Smart Life App and control home application anywhere anytime.</small></p>
                                <button id="connect-wallet-button" class="btn-outline-success">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3">
                            <img class="card-img-top" src="https://m.media-amazon.com/images/I/51RHoYEyujL.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Loom Solar Shark Bi-Facial Solar Panel</p>
                                <p><i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;<i class="feather icon-star-on"></i>&nbsp;&nbsp;5/5</p>
                                <p class="card-text"><small class="text-muted">Now in a kW Installation, 2 panels shall be used instead of 3 which reduces the installation cost such as cost of Stand, Wire, Connector, Civil work, etc.</small></p>
                                <button id="connect-wallet-button" class="btn-outline-success">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
 
    <script>
        $(document).ready(function() {
            $("#pcoded").pcodedmenu({
                themelayout: 'horizontal',
                MenuTrigger: 'hover',
                SubMenuTrigger: 'hover',
            });
        });
    </script>

    <script src="assets/js/analytics.js"></script>

</body>

</html>

                    
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}